.body{
  border: 1px solid #b7b1b1;
  padding: 2px;
  width:100%;
  box-shadow: 5px 5px #b7b1b1:
  height: 100%;
}

.content{
  border: 1px solid #FFF;
  padding: 2px;
  height: 100%;
  box-shadow: 2px solid #000;
}
.daysOfWeek{
  margin-top:10px;
  display:flex;
}
.timeOfDay {
  background: #b7b1b1;
  padding: 2px;
}

.header {
  padding: 2px;
  margin: 2px;
  background: darkcyan;
  text-align: center;
}
.timings{
  width: 60%;
  float: right;
  display: inline-flex;
  margin-top: 4%;
}
.movieContent{
  margin: 5px;
  padding: 5px;
}
.table{
  width: 97%;
  display: inline-flex;
  margin: 2px;
  padding: 2px;
  height: 80px;
  font-family: monospace;
  border: 1px solid #008B8A;
}
.movTab {
  border: 1px solid #000;
  padding: 2px;
}

.stretch{
  border-right: 1px solid #b7b1b1;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #b7b1b1;
}
.stretch:hover{
  box-shadow: 0 0 11px darkcyan;
}
.stretch2{
    display: inline-block;
    text-align: center;
    width: 19%;
}
.stretch2:hover{
  background:white;
  box-shadow: 0 0 11px #008b8b;
}
.table:hover{
  box-shadow: 5px 5px 10px #008B8A ;
}
.showMore {
  margin: 2px;
  padding: 2px;
  border: 0.3px solid #008B8A;
  box-shadow: 0px 0px 2px #008B8A;
}

.selSeats{
  width: 50px;
  border: 0.5px solid #EEE;
  height: 20px;
}
.selSeats:hover{
  background-color: #b7b1b1;
}
.selected{
  color: Red;
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #b7b1b1;
  border-top: 1px solid red;
  border-left: 1px solid #b7b1b1;
}

.bookingSeats{
  margin-top: 3%;
  background: #b7b1b1;
  width: 100%;
}
.seat{
  border: solid 1px red;
  width: 25px;
  margin: 3px;
  display: inline-block;
  text-align: center;
  line-height: 1.5rem;
  padding: 2px 0;
  background: #65b552;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.reserved {
  background: red;
}

.selecteds {
  background: yellow;
}
.empty{
  width: 65px;
  height: 25px;
  margin: 3px;
  display: inline-block;
}
.bookingPage{
  text-align: center;
  margin: 2px;
  padding: 2px;
}
.button{
  background: #ff8300;
  border: 2px solid blue;
  padding: 10px;
  margin-top: 5px;
  width: 95%;
}
.screen{
  color: white;
  background: black;
  width: 250px;
  padding:3px;
  margin: auto;
  text-align: center;
}
.center{
  margin: auto;
  width: 258px;
  margin-top: 10px;
}
.movieTitle{
      height: 100px;
}
label{
  display: -webkit-box;
  margin: 2px;
  padding: 2px;
}
.hidCss{
  display:none;
}
.table ul{
  list-style: none;
}
.NoOfSeats select{
  margin-top: 10px;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
  width: auto;
  border-radius:4px;border:1px solid #AAAAAA;
}
select option{
  font-size: 20px;
  z-index: 2;
  position: relative;
  width: 100%;
    margin-bottom: 15px;
    overflow-y: visible;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    height: 120px;
    text-overflow: ellipsis;
}
.userInfo{
  border:1px solid #EEE;
}
.userInfo div {
  display: flex;
    margin: 4px;
    padding: 0px;
    width: 98%;
}
.movDetails{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.paybutton{
  margin-left: 80%;
  box-shadow: inset -2px 0px 1px 0px #008b8b;
}
.detTab span{
  margin:2px;
}
.detTab{
  font-family: Georgia;
  font-size: small;
  border: 2px solid #EEE;
  width: 100%;
}
.comboList{
  width: 100%;
  height: 100%;
}
.chooseSeats{
  width:50%;
}

.loader-div {
    width: 100%;
    height: 100px;
    text-align: center;
    padding-left: 50%;
    padding-top: 15%;
    margin-bottom: 50px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


.daysOfWeek.outer {
  justify-content: center;
}
#Shows {
  border: 1px solid #b7b1b1;
}
a:hover {
  color: #888;
  cursor: pointer;
}
a {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 15px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  width:100%;
  overflow:hidden;
  float:left
}

@media (min-width: 1800px) {
  .movieContent, .bookingSeats, .NoOfSeats select{
    font-size: 60px;
  }
  .seat {
    width: 9%;

    line-height: 6.5rem;
    font-size: inherit;
  }
  .center{
    margin-top: 70px;
    width:70%;
  }
  .screen{
    margin-top: 70px;
    width: 50%;
  }
  .empty {
    width: 20%;
  }
  .button{
    height: 100px;
    font-size: 60px;
  }
  input[type='checkbox'] {
    width: 3em;
    height: 3em;

  }
  #comboList{
    text-align:left;
    margin-left: 10px;
  }
  #comboList input{
    margin-left:10px;
  }
  .body{
    font-size: 60px;
  }
  .detTab,.detTab input{
    font-size:-webkit-xxx-large;
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg);
}
